
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width:1200px;
    padding: 0 15px;
    margin: 0  auto;
}
.header-section{
    width: 100%;
    background: rgba(229, 84, 115, 0.10);
}
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:10px 100px;
}
.header-section .container h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.header-section .container p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 32px;
    margin-bottom: 32px;
}
.botton{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    padding: 20px 43px;
    gap: 10px;
    font-size: 20px;
    font-weight: 700;
}
.heaser-img img{
    height: 600px;
    width: 450px;
}


